@import "tailwindcss";

@theme {

  --color-primary-background: #1a1a1a;
  --color-secondary-background: #282828;
  --color-tertiary-background: #373737;

  --color-primary-text: #ffffff;
  --color-secondary-text: #a0a0a0;

  --color-leetcode-level-0: #393939;
  --color-leetcode-level-1: #2b642a;
  --color-leetcode-level-2: #459741;
  --color-leetcode-level-3: #5fbf56;
  --color-leetcode-level-4: #97df93;

  --color-github-level-0: #171b21;
  --color-github-level-1: #1f432b;
  --color-github-level-2: #2e6b38;
  --color-github-level-3: #52a44e;
  --color-github-level-4: #6bd064;

}
